body {
    text-align: center;
    margin: 0px;
    font-size: 15px;
}
.container {
    padding-bottom: 100px;
}
h1 {
    margin-left: 10%;
    color: hsl(0, 0%, 95%);
    
    font-family: 'Big Shoulders Display', cursive;
}
.descriptor {
    margin: 10% 10% 20% 10%;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.icon {
    margin: 10% 60% 10% 10%;
}
.sedans {
    display: inline-block;
    width: 30%;
    background-color:  hsl(31, 77%, 52%);
    text-align: left;
    padding-bottom: 100px;
}

.suvs {
    display: inline-block;
    width: 30%;
    background-color:  hsl(184, 100%, 22%);
    text-align: left;
    padding-bottom: 100px;
}

.luxury {
    display: inline-block;
    width: 30%;
    background-color:  hsl(179, 100%, 13%);
    text-align: left;
    padding-bottom: 100px;
}

.learnMore {
  margin-left: 10%;
  margin-bottom: 10%;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  text-decoration: none;

}

.sedanAbout {
    color: hsl(31, 77%, 52%);
}

.suvAbout {
    color: hsl(184, 100%, 22%);
}

.luxuryAbout {
    color:  hsl(179, 100%, 13%);
}
